<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSuiviApp.reponsesOffres.home.title">Reponses Offres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reponses-offres" [routerLink]="['/reponses-offres/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSuiviApp.reponsesOffres.home.createLabel">
           Saisir une nouvelle offres
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reponsesOffres">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.name">Entreprise</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="job"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.job">Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerDate"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.answerDate">Answer Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="meetDate"><span jhiTranslate="jhipsterSuiviApp.reponsesOffres.meetDate">Meet Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let reponsesOffres of reponsesOffres ;trackBy: trackId">
                <td><a [routerLink]="['/reponses-offres', reponsesOffres.id, 'view' ]">{{reponsesOffres.id}}</a></td>
                <td>{{reponsesOffres.name}}</td>
                <td>{{reponsesOffres.job}}</td>
                <td>{{reponsesOffres.url}}</td>
                <td>{{reponsesOffres.answerDate | date:'mediumDate'}}</td>
                <td>{{reponsesOffres.status}}</td>
                <td>{{reponsesOffres.meetDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reponses-offres', reponsesOffres.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reponses-offres', reponsesOffres.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reponses-offres/'+ reponsesOffres.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
