<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reponses-offres-heading" jhiTranslate="jhipsterSuiviApp.reponsesOffres.home.createOrEditLabel">Create or edit a Reponses Offres</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reponsesOffres.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reponsesOffres.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="reponsesOffres.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.job" for="field_job">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job"
                        [(ngModel)]="reponsesOffres.job" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="reponsesOffres.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.answerDate" for="field_answerDate">Answer Date</label>
                    <div class="input-group">
                        <input id="field_answerDate" type="text" class="form-control" name="answerDate" ngbDatepicker  #answerDateDp="ngbDatepicker" [(ngModel)]="reponsesOffres.answerDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="answerDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="reponsesOffres.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSuiviApp.reponsesOffres.meetDate" for="field_meetDate">Meet Date</label>
                    <div class="input-group">
                        <input id="field_meetDate" type="text" class="form-control" name="meetDate" ngbDatepicker  #meetDateDp="ngbDatepicker" [(ngModel)]="reponsesOffres.meetDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="meetDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
